<div class="container-fluid">
  
    <nav class="navbar navbar-expand-sm navbar-dark bg-info">
      <img src="/assets/pics/logo.png"width="120" height="120">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item"style="font-size: 17px; font-weight: 400;font-family:Segoe UI;font-size: 24px;font-weight: 400;"><a routerLink="signin" class="nav-link text-light">Login</a></li>
        <li class="nav-item"style="font-size: 17px; font-weight: 400;font-family:Segoe UI;font-size: 24px;font-weight: 400;"><a routerLink="register" class="nav-link text-light">Register</a></li>
        <li class="nav-item"style="font-size: 17px; font-weight: 400;font-family:Segoe UI;font-size: 24px;font-weight: 400;"><a routerLink="Contact" class="nav-link text-light">Contact us</a></li>
        <li class="nav-item"style="font-size: 17px; font-weight: 400;font-family:Segoe UI;font-size: 24px;font-weight: 400;"><a routerLink="About" class="nav-link texEt-light">About us</a></li>
      </ul>
    </nav>
      </div>
      <router-outlet></router-outlet>