<table class=" table table-bordered text-center mt-5">
  <thead class="thead-dark">
      <th>S.no</th>
      <th>Medicine</th>
      <th>Usage</th>
      <th>Quantity</th>
      <th>Price</th>
      <th>Add to cart</th>
      
  </thead>
  <tbody>
    <tr *ngFor="let i of data;let in=index;">
      <td>{{in}}</td>
      <td>{{i.Medicine}}</td>
      <td>{{i.Usage}}</td>
      <td>{{i.Quantity}}</td>
      <td>{{i.Price}}</td>
      <td><button type="button" class="btn btn-success"(click)="submit(i)">Add</button></td>
      
    </tr>
  </tbody>
</table>
