<div class="jumbotron">
    <h1>Reach us</h1>
    <p> Plot No. 25 & 26, <br>
      Victory Constructions,<br> 
      Bhagya Nagar Colony, <br>
      Kukatpally, Hyderabad, Telangana 500072
    </p>
    <h1 class="display-4 mx-auto d-block">Follow us</h1>
    <a href="https://www.facebook.com/ApolloPharmacy/"  target="_blank"><img src="assets/pics/fb.png"width="100" heght="100"></a>
    <a href="https://www.instagram.com/apollopharmacy/"target="_blank"><img src="assets/pics/instagram.jpg"width="100" heght="100" ></a>
    <a href="https://twitter.com/apollo_pharmacy?lang=en"target="_blank"><img src="assets/pics/twitter.png"width="100" heght="100" ></a>    
 </div>
