<div class="jumbotron">
  <h2 class="display-4 text-muted">About us</h2>
  <p class="text-dark">
      Apollo Pharmacy is a part of Apollo Hospitals - Asia's largest healthcare group. It is India's first and largest branded pharmacy network, with over 3000 plus outlets in key Locations.
      
      Accredited with - International Quality Certification, Apollo Pharmacy offers genuine medicines round-the-clock, through their 24-hour Pharmacies. Apollo Pharmacy also provides Customer Care any time of the day.
      
      Quality is the cornerstone of our existence. We have gained experience in pharmacy operations management over the last 2 decades and are committed to delivering best service in the industry.
      
      Apollo Pharmacy is well stocked with medicines OTC and FMCG products, manned by competent staff with computerized system.
      
      Apollopharmacy.in has more than 5000 products in various categories like Vitamins and supplements, Baby care, Personal care, Health foods and OTC. In addition to this we have more than 400 Apollo Brand Products in the following categories like vitamins and supplements, health food,
      
      Oral care, skin care, personal care, baby care, OTC etc
  </p>
</div>