<div class="container-fluid">
    <nav class="navbar navbar-expand-sm navbar-dark bg-info">
      <img src="/assets/pics/logo.png"width="120" height="120">
      </nav>
      <h1 class="text-center text-grey display-4">Admin Panel</h1>
      <div class="row">
          <div class="col-sm-2">
              <div class="row">
                <div class="col-sm-6">
                  <h3 class="text-center display-4">Menu</h3>
  <ul class="nav nav-pills flex-column">
    <li class="nav-item"style="font-size: 17px; font-weight: 400;font-family:Segoe UI;font-size: 24px;font-weight: 400;"><a routerLink="sto" class="nav-link active">Stocks</a></li>
    <li class="nav-item"style="font-size: 17px; font-weight: 400;font-family:Segoe UI;font-size: 24px;font-weight: 400;"><a routerLink="industry" class="nav-link">Company</a></li>
    <li class="nav-item"style="font-size: 17px; font-weight: 400;font-family:Segoe UI;font-size: 24px;font-weight: 400;"><a routerLink="salesreport" class="nav-link">Sales</a></li>
    <li class="nav-item"style="font-size: 17px; font-weight: 400;font-family:Segoe UI;font-size: 24px;font-weight: 400;"><a routerLink="orders" class="nav-link">Orders</a></li>
    <li class="nav-item"style="font-size: 17px; font-weight: 400;font-family:Segoe UI;font-size: 24px;font-weight: 400;"><a routerLink="stores" class="nav-link">Customers</a></li>
    <li class="nav-item"style="font-size: 17px; font-weight: 400;font-family:Segoe UI;font-size: 24px;font-weight: 400;"><a routerLink="" class="nav-link">Logout</a></li>
  </ul>
  </div>
  </div>
      </div>
      <div class="col-sm-8">
            <router-outlet></router-outlet>
      </div>

      </div>