<div class="container-fluid">
  <nav class="navbar navbar-expand-sm bg-info">
    <img src="/assets/pics/logo.png" width="150" height="150">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item"style="font-size: 17px; font-weight: 400;font-family:Segoe UI;font-size: 24px;font-weight: 400;"><a class="nav-link text-dark" href="">LogOut</a></li>
      <li class="nav-item ml-4"><a routerLink="cart" class="nav-link text-dark fas fa-shopping-cart fa-2x"></a></li>
    </ul>
  </nav>
  <router-outlet></router-outlet>
    
  </div>
